<ion-header>
  <ion-toolbar>
    <ion-title> scanner</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <!-- 
    <qrcode 
      [qrdata]="qrCodeString" 
      [width]="340" 
      [errorCorrectionLevel]="'M'">
    </qrcode>
    -->
    <ion-tab-button (click)="startScan()">
      <ion-icon name="camera"></ion-icon>
      <ion-label>Photo</ion-label>
    </ion-tab-button>

    <ion-item *ngIf="scannedResult">
      <ion-label>Resultado {{ scannedResult }}</ion-label>
    </ion-item>

    <!-- 
      <img src="./assets/scaner.png" />
      <ion-card-subtitle>Disponible durante 90 minutos </ion-card-subtitle>
      <qrcode [qrdata]="qrCodeString" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    -->

  </ion-card>
</ion-content>
<!--inicio footer-->
<ion-footer> 
  <ion-toolbar>
    <div class="form-group">
      <button class="btng btng2" [routerLink]="['/inicio-alumno']" ><ion-icon name="home-outline" ></ion-icon></button>
  
      <button class="btng btng2" [routerLink]="['/perfil-alumno']"><ion-icon name="person-outline"></ion-icon></button>
      
      <button class="btng btng2apretado" [routerLink]="['/lectorqr']"><ion-icon name="scan-outline"></ion-icon></button>
    </div>
  </ion-toolbar>
</ion-footer>
<!--fin del footer-->